.hero{
    /* background-image: url(https://dnm.nflximg.net/api/v6/BvVbc2Wxr2w6QuoANoSpJKEIWjQ/AAAAQdn2KUDfayDzUbZNeLTCjLEcWhZqol1YNil57eohLWR9G-z1lYR9sAOPm3_WdTnVkCliVeJSkKcZ8P4M1pRyn_n3AJHoe-WXaIB4vTjeEgpkC-uUh65zjgzAkI4k9exfbNGKe33_uTAiKys5XkyLJLAqra4.jpg?r=7b3); */
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 50rem;
    background-color: black;
    position: relative;
    object-fit: contain;
    display: flex;
    justify-content: center;
}

.hero_img_shadow{
    /* width: 100%; */
    /* background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%); */
    /* background: linear-gradient(0.25turn, #000000, #ffffff00); */
}

.hero_movie{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    margin: 5rem;
}

.hero_movie_content{
    color: white;
    font-size: large;
}

.movie_name h1{
    margin: 0.5rem 0rem;
}

.movie_description{
    font-size: 0.8rem;
    line-height: 1.3;
    display: flex;
    /* width: 35rem;     */
}

.hero_button{
    border: 0;
    margin-right: 2rem;
    margin-top: 2rem;
    padding: 1rem 1.5rem;
    width: 15rem;
    font-size: large;
    border-radius: 0.3rem;
    cursor: pointer;
}

.hero_button:hover{
    scale: 1.05;
    transition: ease-in 0.1s;
}

.hero_play_button{
    color: #111;
    background-color: white;
}

.hero_play_button:hover{
    color: white;
    background-color: rgba(51, 51, 51, 0.8);
}

.hero_mylist_button{
    color: white;
    background-color: rgba(51, 51, 51, 0.8);
}

.hero_mylist_button:hover{
    color: #111;
    background-color: white;
}

.hero_fade_bottom{
    width: 100%;
    background: linear-gradient(180deg,transparent,rgba(37,37,37,0.61),#111
    );
    
}