.navbar{
    width: 100%;
    height: 5.5rem;
    position: fixed;
    z-index: 1;
    transition: ease-out 0.3s;
}

.navbar_black{
    background-color: #111;
}

.nav_content{
    display: flex;
    justify-content: space-between;
}

.nav_logo{
    position: fixed;
    padding: 1.5rem 3rem;
    height: 2.5rem;
    cursor: pointer;
}

.nav_avatar{
    position: fixed;
    padding: 1.5rem 3rem;
    height: 2.5rem;
    right: 0;
    cursor: pointer;
}